<div class="container">
    <p class="margin-bottom-40"></p>
    <form action="Server/israel70loadadif.php" method="post" enctype="multipart/form-data">
        <h2>Select log file for upload:</h2>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <input type="file" name="fileToUpload" id="fileToUpload" class="btn btn-info">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <input type="submit" value="Upload Log" name="submit" class="btn btn-danger">
            </div>
        </div>
    </form>
</div>