<div class="container">
    <p class="margin-bottom-40"></p>

    <h2>
        <i id="loadingImage" class="icon-spinner icon-2x icon-spin centered "></i> New Year 2020 - Live log
    </h2>
    <!-- List of operators for each station -->
    <div class="row" data-bind="foreach: GetDistinctSES()">
        <div class="col-md-2">
            <div data-bind="css: { 'panel margin-bottom-5 panel-red': true}">

                <div class="panel-heading">
                    <h4 class="panel-title"><span data-bind="html: GetOperatorsForSES(ses_callsign)().length"></span> Operators @ <span data-bind="html: qth"></span> (<span data-bind="html: ses_callsign"></span>)</h4>
                </div>
                <table class="table table-striped table-hover">
                    <!--<thead>
                        <tr>
                            <th>Operator</th>
                        </tr>
                    </thead>-->
                    <tbody data-bind="foreach: GetOperatorsForSES(ses_callsign)">
                        <tr>
                            <td>
                                <a data-bind="attr: { href: 'https://www.qrz.com/db/' + callsign}" target="_blank">
                                    <span data-bind="text: callsign"></span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row margin-bottom-20">
        <div class="col-md-6">
            <h3>Enter your callsign to check the log</h3>
            <div class="row">
                <div class="col-md-10 col-sm-10 col-xs-10">
                    <input class="form-control" data-bind="value: callsign, valueUpdate: 'afterkeydown'" placeholder="Your Callsign" type="text" tabindex="1" style="text-transform: uppercase;" />
                </div>
                <div class="col-md-2 col-sm-4 col-xs-4">
                    <button id="CheckBtn" data-bind="click: GetLogForCall" type="button" class="btn btn-info"><span class="glyphicon glyphicon-certificate"></span> Check</button>
                </div>
               
            </div>
            <div data-bind="visible:didNotWork"><span class="glyphicon glyphicon-star"></span> we did not work yet.. Hope to hear you on the air soon!</div>
            <div class="row margin-bottom-20" data-bind="visible:isEligable">
                <div class="col-md-12">
                    <form method="post" action="https://iarc.org/livelog/Server/certificate/award_generator.php" target="_blank">
                        <div style="display:none">
                            <input type="text" class="form-control" id="callsign" name="callsign" data-bind="value: callsign" style="visibility:hidden;">
                            <input type="text" class="form-control" id="cw" name="cw" data-bind="value: cw" style="visibility:hidden;">
                            <input type="text" class="form-control" id="ssb" name="ssb" data-bind="value: ssb" style="visibility:hidden;">
                            <input type="text" class="form-control" id="digi" name="digi" data-bind="value: digi" style="visibility:hidden;">
                            <input type="text" class="form-control" id="mix" name="mix" data-bind="value: mix" style="visibility:hidden;">
                        </div>
                        <p class="margin-bottom-10"></p>
                        <button type="submit" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-certificate"></span> Congratulations! Generate Your Certificate</button>
                    </form>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6 hidden-xs hidden-sm">
            <div style="background-image:url(assets/img/main_image.png); background-repeat:no-repeat; height: 220px; position:relative; margin-top:20px"></div>
        </div>-->
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="row" data-bind="foreach: GetDistinctSES()">
                <div class="col-md-12">
                    <div data-bind="css: { 'panel margin-bottom-40': true, 'panel-blue': GetLogForSES(ses_callsign)().length == 0, 'panel-green': GetLogForSES(ses_callsign)().length > 0 }">
                        <div class="panel-heading" data-toggle="collapse" data-bind="attr: {'data-target': '#'+ ses_callsign}" style="cursor:pointer">
                            <h4 class="panel-title"><span data-bind="html: GetLogForSES(ses_callsign)().length"></span> QSO's with <span data-bind="html: qth"></span> (<span data-bind="html: ses_callsign"></span>)<i class="icon-plus pull-right"></i></h4>
                        </div>
                        <table class="table table-striped table-hover out collapse" data-bind="attr: {'id': ses_callsign}">
                            <thead>
                                <tr>
                                    <th>Station</th>
                                    <!--<th>Call</th>-->
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Mode</th>
                                    <th>Band</th>
                                    <!--<th>Frequency</th>-->
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: GetLogForSES(ses_callsign)">
                                <tr>
                                    <td data-bind="text: my_call"></td>
                                    <!--<td data-bind="text: call"></td>-->
                                    <td data-bind="text: moment(timestamp,'YYYYMMDD').format('DD-MM-YYYY')"></td>
                                    <td data-bind="text: moment(timestamp,'YYYYMMDD HHmmss').format('HH:mm:ss')"></td>
                                    <td data-bind="text: mode"></td>
                                    <td data-bind="text: band"></td>
                                    <!--<td data-bind="text: freq"></td>-->

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div style="background-image:url(assets/img/israel_map.jpg); background-size: 260px; background-repeat:no-repeat; height:640px; position:relative">
                <!--<a href="https://en.wikipedia.org/wiki/Akko_Light" target="_blank" title="Capernaum">
                    <div style="position:absolute; top:46px; left:195px" data-bind="if: Capernaum().length > 0"><img src="assets/img/lighthouse_blink.gif" alt="Alternate Text" width="15" /></div>
                    <div style="position:absolute; top:46px; left:195px" data-bind="if: Capernaum().length == 0"><img src="assets/img/santa_red.png" alt="Alternate Text" width="15" /></div>
                </a>
                <a href="https://en.wikipedia.org/wiki/Stella_Maris_Light" target="_blank" title="Caesarea">
                    <div style="position:absolute; top:128px; left:95px" data-bind="if: Caesarea().length > 0"><img src="assets/img/lighthouse_blink.gif" alt="Alternate Text" width="15" /></div>
                    <div style="position:absolute; top:128px; left:95px" data-bind="if: Caesarea().length == 0"><img src="assets/img/santa_red.png" alt="Alternate Text" width="15" /></div>
                </a>
                <a href="https://en.wikipedia.org/wiki/Mikhmoret_Light" target="_blank" title="Jerusalem">
                    <div style="position:absolute; top:230px; left:140px" data-bind="if: Jerusalem().length > 0"><img src="assets/img/lighthouse_blink.gif" alt="Alternate Text" width="15" /></div>
                    <div style="position:absolute; top:230px; left:140px" data-bind="if: Jerusalem().length == 0"><img src="assets/img/santa_red.png" alt="Alternate Text" width="15" /></div>
                </a>
                <a href="https://en.wikipedia.org/wiki/Jaffa_Light" target="_blank" title="Latrun">
                    <div style="position:absolute; top:210px; left:110px" data-bind="if: Latrun().length > 0"><img src="assets/img/lighthouse_blink.gif" alt="Alternate Text" width="15" /></div>
                    <div style="position:absolute; top:210px; left:110px" data-bind="if: Latrun().length == 0"><img src="assets/img/santa_red.png" alt="Alternate Text" width="15" /></div>
                </a>
                <a href="https://en.wikipedia.org/wiki/Ashdod_Light" target="_blank" title="Massada">
                    <div style="position:absolute; top:310px; left:160px" data-bind="if: Massada().length > 0"><img src="assets/img/lighthouse_blink.gif" alt="Alternate Text" width="15" /></div>
                    <div style="position:absolute; top:310px; left:160px" data-bind="if: Massada().length == 0"><img src="assets/img/santa_red.png" alt="Alternate Text" width="15" /></div>
                </a>-->
            </div>
        </div>
    </div>

    <div class="margin-top-40">
        <h3>New Year 2020 - Overall Statistics</h3>
        <div class="row">
            <div class="col-md-4">Total QSOs: <label data-bind="text: totalQSO"></label></div>
            <div class="col-md-4">Unique Calls: <label data-bind="text: uniqueCall"></label></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div id="mode_chart"></div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div id="band_chart"></div>
            </div>
        </div>
        <p class="margin-bottom-20"></p>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="ref_chart"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3><label data-bind="text: entitled().length"></label> are entitled for certificate</h3>
        </div>
    </div>
    <div class="row" data-bind="foreach: entitled">
        <div class="col-md-2" data-bind="text: callsign"></div>
    </div>
</div>

