<!--=== Top ===-->
<div class="top-v1">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <ul class="list-unstyled top-v1-contacts">
                    <li>
                        4Z1KD - Online Logbook
                    </li>
                    <!--<li>
                        <i class="icon-envelope"></i>דואל: <a href="mailto:info@4x4trail.org">info@4x4trail.org</a>
                    </li>-->
                    <!--<li>
                <i class="icon-phone"></i>תמיכה: 054-7828077
            </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/top-v1-->
<!--=== End Top ===-->

<!--=== Header ===-->
<div class="header margin-bottom-10">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!--<div class="_collapse _navbar-collapse _navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">                   
                    <li data-bind="css: { active: selectedMainMenu() == 'main' }">
                        <a href="#">חלוקה למקטעים
                        </a>
                    </li>
                </ul>
            </div>-->
            <!-- /navbar-collapse -->
        </div>
    </div>
</div>
<!--/header-->
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div class="container">
    <!-- End Sidebar -->
    <div class="col-md-12 page-host" data-bind="router: { transition: 'entrance', cacheViews: true }"></div>
</div>
<!--/container-->
<!-- End Content Part -->